name: GSM News Bot

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  run_bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Bot Script
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        MY_CHAT_ID: ${{ secrets.MY_CHAT_ID }}
        FB_COOKIES: ${{ secrets.FB_COOKIES }}
      run: python main.py

    - name: Commit and Push if changed
      run: |
        git config --global user.name 'NewsBot'
        git config --global user.email 'bot@noreply.github.com'
        git add last_link.txt subscribers.txt last_fb_id.txt
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update data" && git push)
